.details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 2s ease-in-out;
}

.details-page.blue {
  background-color: #00bfff; /* ฟ้าสด */
}

.details-page.pink {
  background-color: #ff69b4; /* ชมพูสด */
}

.content h1 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: center;
}
